.btn-primary {
    background-color: #093252;
    border-color: #093252;
}

.btn-primary:hover {
    background-color: #072a46;
    border-color: #072a46;
}


/*boxes style*/

.panel-tabs ul {
    margin: 0 -20px;
    padding: 0px;
    list-style: none;
}

.panel-tabs ul li {
    padding: 0px 20px;
    margin-bottom: 40px;
    float: left;
    width: 33.3%;
    text-align: center;
}

.panel-tabs ul li a {
    display: block;
    text-align: center;
    padding: 20% 0;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #d6d6d6;
    overflow: hidden;
    background: #f3f3f3;
}

.panel-tabs li a i {
    font-size: 80px;
    color: #c7c7c7;
}

.panel-tabs li a h3 {
    color: #093252;
    text-transform: uppercase;
}

.panel-tabs ul li a:hover {
    text-decoration: none;
    background: #093252;
}

.panel-tabs ul li a:hover i {
    color: #FFF;
}

.panel-tabs ul li a:hover h3 {
    color: #FFF;
}

.sidebar {
    width: 300px;
    height: 100%;
    background: #850004;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 20;
}

.sidebar .logo {
    padding: 18px 20px;
    text-align: center;
}

.sidebar .logo a {
    color: #093252;
}

.sidebar .logo a img {
    width: 90px;
}

.main-nav ul {
    margin: 0 0 20px;
    padding: 0px;
    list-style: none;
    border-bottom: 1px solid #730003;
}

.main-nav ul li {
    border-bottom: 1px solid #730003;
    border-top: 1px solid #9a0207;
}

.main-nav ul li a {
    padding: 20px;
    display: block;
    color: #FFF;
    position: relative;
}

.main-nav ul li a i {
    float: right;
}

.main-nav ul li a:hover {
    text-decoration: none;
    background: #730003;
}

.main-nav ul li a:hover:after,
.main-nav ul li.active a:after {
    content: "";
    position: absolute;
    right: 0px;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 12px solid #FFF;
    border-bottom: 10px solid transparent;
    margin-top: -9px;
}

.main-content {
    max-width: 100%;
    padding: 100px 30px 30px;
    padding-left: 330px;
}

.user-widget {
    position: fixed;
    right: 0px;
    top: 0px;
    padding-left: 300px;
    width: 100%;
    z-index: 10;
}

.user-widget .user-bg {
    background: #093252;
    padding: 0px 0px 0 20px;
}

.user-widget .user-bg:after,
.user-widget .user-bg:before {
    display: table;
    width: 100%;
    content: "";
    clear: both;
}

.user-widget ul.ul-items {
    margin: 0px;
    display: inline-block;
    padding: 25px 0px;
    vertical-align: middle;
    list-style: none;
}

.user-widget ul.account-list {
    margin: 0px;
    padding: 0px;
    float: right;
    list-style: none;
}

.user-widget ul.account-list li {
    margin: 0px;
    float: left;
}

.user-widget ul.account-list li a {
    padding: 25px 40px;
    display: block;
    text-transform: uppercase;
}

.user-widget ul.account-list li a:hover,
.user-widget ul.account-list li.active a {
    background: #093252;
    text-decoration: none;
}

.user-widget ul li {
    display: inline-block;
    margin-left: 10px;
}

.user-widget ul li a {
    font-size: 18px;
    color: #FFF;
}

.user-widget ul li a:hover {
    color: #FFF;
}

.user-info {
    float: right;
}

.user-info a {
    display: block;
    cursor: pointer;
    padding: 8px 16px;
}

.user-info a:hover {
    text-decoration: none;
}

.user-info figure {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    margin: 0px 10px;
}

.user-info figure img {
    max-width: 100%;
}

.user-info span {
    font-size: 16px;
    text-transform: uppercase;
    vertical-align: middle;
    color: #FFF;
}

.user-info i {
    font-size: 18px;
    color: #FFF;
    vertical-align: middle;
}

.user-info .dropdown-menu {
    background: #093252;
    border-radius: 0;
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.user-info .dropdown-menu li {
    padding: 0px;
    display: block;
    margin: 0px;
    border-bottom: 1px solid #072a46;
    border-top: 1px solid #0e3c60;
}

.user-info .dropdown-menu li a {
    padding: 10px 20px;
    font-size: 14px;
    position: relative;
}

.user-info .dropdown-menu li a span {
    position: absolute;
    right: 10px;
    top: 6px;
    width: 25px;
    height: 25px;
    padding: 5px 0;
    text-align: center;
    text-align: center;
    background: #850004;
    color: #FFF;
    font-size: 11px;
    border-radius: 50%;
}

.user-info .dropdown-menu li a:hover {
    background: #072a46;
}

.vehicles-list .vehicles-head {
    overflow: hidden;
    margin-bottom: 30px;
    padding: 25px 0px;
    border-bottom: 1px dotted #CCC;
}

.vehicles-list .vehicles-head a {
    margin-left: 10px;
    background: #093252;
    border-radius: 0px;
    padding: 8px 20px;
}

.vehicles-list .vehicles-head h3 {
    display: inline-block;
    color: #093252;
    margin: 0px;
}

label {
    font-weight: normal;
}

.vehicles-table {
    padding: 20px 0px;
}

#tableStyle_length {
    padding-top: 5px;
}

#tableStyle_filter {
    margin-bottom: 15px;
}

#tableStyle_length select {
    padding: 5px 10px;
    background: #f2f2f2;
}

#tableStyle_filter input {
    border: 1px solid #CCC;
    padding: 5px 10px;
}

#tableStyle {
    border-top: 1px solid #CCC;
    margin-top: 10px;
}

#tableStyle tr th {
    border-bottom: 1px solid #CCC;
    padding: 10px 12px;
}

#tableStyle tr th:last-child {
    width: 70px !important
}

#tableStyle tr th:first-child,
#tableStyle tr td:first-child,
#tableStyle tr td a {
    color: #093252;
}

#tableStyle tr td:first-child img {
    width: 50px;
}

.dataTables_paginate .paginate_button {
    background: #f2f2f2;
}

.dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #093252 !important;
    color: #FFF !important;
    border-radius: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #FFF !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    background: transparent !important;
}

.dataTables_wrapper .dataTables_info {
    padding: 20px 0 0;
}

.dataTables_wrapper .dataTables_paginate {
    margin-top: 20px;

}

.main-heading {
    margin: 0px 0px 30px;
    color: #093252;
}

.add-vehicle-widget {
    max-width: 800px;
    overflow: hidden;
}

.add-vehicle-widget form {
    margin: 0px -15px;
}

.add-vehicle-widget label {
    display: block;
    padding: 0px 15px;
    margin-bottom: 30px;
}

.add-vehicle-widget label.half-field {
    width: 50%;
    float: left;
}

.add-vehicle-widget label span {
    display: block;
    margin-bottom: 5px;
}

.add-vehicle-widget label>input,
.add-vehicle-widget label select {
    padding: 10px;
    height: 50px;
    width: 100%;
}

.add-vehicle-widget .select-field {
    clear: both;
}

.add-vehicle-widget .select-ad-field {
    padding: 35px 15px 0;
}

.add-vehicle-widget .select-ad-field input {
    margin-right: 5px;
}

.add-vehicle-widget label textarea {
    width: 100%;
    padding: 10px;
    height: 150px;
}

.add-vehicle-widget label.submit {
    display: inline-block;
}

.add-vehicle-widget label input[type="submit"] {
    width: auto;
    padding: 10px 20px;
}

.barber-widget {
    margin-top: 50px;
}

.barber-widget ul {
    margin: 0 -10px;
    padding: 0px;
    list-style: none;
}

.barber-widget ul li {
    display: block;
    margin-bottom: 20px;
}

.barber-info li label {
    display: block;
    padding: 0px 10px;
}

.barber-info li label strong,
.h-barbar-form label {
    font-weight: normal;
    display: block;
    color: #093252;
    font-size: 16px;
    margin-bottom: 3px;
}

.barber-info li label span {
    display: block;
    padding: 10px;
    font-size: 18px;
    color: #093252;
    background: #e5e9ec;
}

.h-barbar-form .h-row:after {
    display: block;
    clear: both;
    content: '';
}

.h-barbar-form .h-row {
    margin: 0 0 20px;
}

.h-barbar-form input[type="text"],
.h-barbar-form input[type="number"],
.h-barbar-form input[type="email"],
.h-barbar-form input[type="tel"],
.h-barbar-form input[type="password"],
#f-profession,#cancel_fee,#p_cash,#is_cash {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #093252;
    border: none;
    background: #e5e9ec;
    display: block;
}

.h-form input[type="submit"] {
    width: 150px;
    margin: 0 auto;
    display: block;
    padding: 12px 10px;
    border: none;
    cursor: pointer;
    color: #fff;
    background: #093252;
}

.h-form:after {
    display: block;
    clear: both;
    content: '';
}

.h-form {
    width: 100%;
    margin: 0 0 30px;
    clear: both;
}

.h-btn {
    width: 150px;
    padding: 12px 10px;
    color: #fff;
    background: #093252;
}

.h-right {
    float: right;
}

.h-btn:hover {
    text-decoration: none;
    color: #fff;
}

.h-barbar-form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #093252;
}

.h-barbar-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #093252;
}

.h-barbar-form :-ms-input-placeholder {
    /* IE 10+ */
    color: #093252;
}

.h-barbar-form :-moz-placeholder {
    /* Firefox 18- */
    color: #093252;
    opacity: 1;
}

.form-repeater .col {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.form-repeater .col.last {
    width: 70px;
    padding: 40px 0 0;
    text-align: right;
}

.cat-form-repeater .col {
    width: 37%;
    display: inline-block;
    vertical-align: top;
}

.cat-form-repeater .col.last {
    width: 70px;
    padding: 40px 0 0;
    text-align: right;
}

.widget-title {
    margin: 0 0 6px;
    display: block;
    font-size: 15px;
    line-height: 19px;
    color: #093252;
}

.h-col {
    width: 48.9%;
    padding: 10px;
    font-size: 18px;
    color: #093252;
    text-align: center;
    border: none;
    background: #e5e9ec;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.h-off-day {
    width: 73px;
    margin: -10px 0 0;
    position: absolute;
    top: 50%;
    right: 20px;
}

.h-off-day label {
    float: right;
}

.h-off-day input[type="checkbox"] {
    float: left;
}

.h-barbar-form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: none;
}

.three-list {
    clear: both;
}

.three-list label {
    width: 25%;
    float: left;
}

.three-list label:nth-child(1) {
    width: 50%;
}

.login-page .add-vehicle-widget {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-page .add-vehicle-widget {
    width: 800px;
}

.login-page .user-widget {
    padding-left: 0px;
}

.login-page .logo {
    background: #850004;
    display: inline-block;
    vertical-align: middle;
    padding: 14px 100px 14px 20px;
    text-align: left;
}

.login-page .logo img {
    width: 100px;
}

.login-page .user-widget .user-bg {
    padding-left: 0px;
}
.total-counts{
    font-size:18px;
    line-height:22px;
    font-weight:bold;
    letter-spacing: -5px;
    border-bottom:1px solid #ccc;
    overflow: hidden;
}
.total-counts li{
    width:25%;
    padding:0 8px 21px;
    text-align: center;
    letter-spacing: 0;
    display: inline-block;
    vertical-align: top;
}
.total-counts li span{
    display: block;
}
.taper-gallery {
    text-align: center;
}
.taper-gallery figure {
    width: 24%;
    display: inline-block;
    position: relative;
    padding: 15px;
}
.taper-gallery figure img {
    max-width: 100%;
}
.taper-gallery figure .fig-img {
    display: block;
    height: 200px;
    background: url() no-repeat center center/cover;
}
.taper-gallery figure .glyphicon-trash {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 15px;
    background: #841a17;
    color: #fff;
    border-radius: 0 0 25px 25px;
    cursor: pointer;
}