/*
Theme Name: AppCastle
Theme URI: http://demo.shapedtheme.com/appcastle
Author: ShapedTheme
Author URI: http://shapedtheme.com
Description: AppCastle ia a landing page WordPress Theme for Apps.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: appcastle
*/

/* Table of Contents
==================================================
# Typography
# Pre Loader
# Navigation Section
# Slider Section
# Features Section
# Description
# Promotion
# Screenshots
# Video Section
# Pricing Section
# Review Section
# Download App
# Contact us
# Scroll to top
# Blog

================================================== */

/*========================
=======Typography=========
==========================*/

body {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #454545;
    background-color: #fff;
}

ul {
    list-style: none;
    margin:0;
    padding:0;
}

dd {
    margin: 0 0 1.75em;
}

.navbar-nav li a:hover,
.navbar-nav li a:focus {
    outline:none;
    outline-offset: 0;
    text-decoration:none;
    background: transparent;
}

a {
    color: #000;
    text-decoration: none;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none;
}

h1 {
    font-size:36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight:500;
    text-transform:capitalize;
}

img{
    max-width: 100%;
    height: auto;
}

input[type="submit"]{
    background: #3a88c7;
    padding: 9px 16px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    border: 0px solid;
}

input[type="password"]{
    padding: 8px 12px;
    border: 1px solid #dcdcdc;
    font-size: 14px;
    outline: none;
    color: #888;
}

.appcastle-section-title{
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 15px;
}

.media-left{
    float: left;
}

.main-content{
    padding: 76px 0;
}

.padding{
    padding:90px 0;
}

.btn-primary {
    border:0;
    color:#fff;
    background-color:#267cc1;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 700;
    padding: 12px 32px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    letter-spacing:0;
    position:relative;
    box-shadow:none;
    z-index:1;
}

.parallax-section {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    width: 100%;
    min-height:437px;
    color:#fff;
    position:relative;
}

.overlay-bg {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.form-control {
    height: 46px;
    padding: 10px;
    color: #000;
    border:1px solid #eee;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    text-transform:capitalize;
    background-color:#fff;
    font-weight:500;
}

.form-control:focus {
    outline: 0;
    -webkit-box-shadow:none;
    box-shadow:none;
    border:1px solid #3a3a63;
    background-color:#fff;
}

.form-group {
    margin-bottom: 30px;
}

.form-control::-webkit-input-placeholder { color: black; }
.form-control:-moz-placeholder { color: black; }
.form-control::-moz-placeholder { color: black; }
.form-control:-ms-input-placeholder { color: black; }

.navbar-toggle {
    border: 1px solid rgb(255, 255, 255);
    margin-top: 13px;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

/*==============================
=========Pre Loader=========
================================*/
#st-preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}
#pre-status,
.preload-placeholder {
    background-image: url(assets/images/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    top: 50%;
    width: 40px;
}

.preload-placeholder {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}


/*==============================
=========navigation-section=========
================================*/
.main-navbar {
    border-radius: 0;
    margin: 0;
    border: 0px solid;
    background-color:rgba(37, 124, 193, 0.90);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.navbar-nav li a {
    text-transform:uppercase;
    color:#fff;
    line-height:29px;
}

.navbar-nav li a{
    cursor: pointer;
}

.active a,
.current-menu-item a{
    font-weight:700;
}

.navbar-brand {
    height:60px;
    padding:10px 15px;
}

.logo-text{
    margin: 0;
    color: #fff;
    font-weight: 500;
}

.menu-hide .navbar-fixed-top {
    top:-61px;
}

.admin-bar .menu-hide .navbar-fixed-top {
    top:-93px;
}

.admin-bar .navbar-fixed-top{
    top: 32px;
}

.navbar .dropdown .dropdown-menu{
    background-color: #2180c5;
    margin: 0;
    border-radius: 0;
    box-shadow: 0 0 0 0;
    border: 0;
    padding: 0;
}

.navbar .dropdown .dropdown-menu li a{
    padding: 6px 20px;
}

.navbar .dropdown-menu .dropdown-menu {
    left: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    margin-top: -1px;
}

.navbar .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
}



/*==============================
=========slider-section=========
================================*/

#main-slider-wrapper,
#slider-bg-wrapper{
    position:relative;
    overflow:hidden;
}

#main-slider-wrapper.background-style-video img{
    display: block !important;
}

#home-section {
    background-repeat:no-repeat;
    background-size:cover;
    background-color:#00aeef;
    position:relative;
    color:#fff;
}

.main-slider .slider-content {
    margin-top:80px;
    font-size:24px;
    font-weight:100;
    overflow:hidden;
    position:relative;
    z-index:10;
}

.main-slider .slider-content .slider-text {
    max-width:500px;
    margin-bottom: 80px;
}

.main-slider.full-height .slider-content {
    margin-top:100px;
}

.slider-content .mobile-mockup {
    text-align:center;
}

.slider-content .mobile-mockup img {
    display:inline-block;
}

.main-slider .slider-content h1 {
    font-size:92px;
    text-transform:initial;
    margin-bottom:25px;
    line-height:92px;
}

.main-slider .slider-content h1 span{
    font-weight:700;
}

.main-slider .slider-content .version {
    font-size:16px;
    font-weight:400;
    margin-top:50px;
}

.social li a{
    background-color: #2a2a2a;
    padding: 15px;
    font-size: 30px;
    display:block;
    color:#fff;
}

.social li a:hover .fa-facebook {
    color:#566C9E;
}

.social li a:hover .fa-twitter {
    color:#0EB1F2;
}

.social li a:hover .fa-google-plus {
    color:#D54831;
}

.social li a:hover .fa-linkedin {
    color:#1F84D2;
}

.social li a:hover .fa-pinterest {
    color:#CD565C;
}

.social-icons  {
    font-size:16px;
    font-weight:600;
    margin-bottom:125px;
}

.social-icons ul {
    margin-top:20px;
}

.social-icons ul li i{
    background-color:#fff;
    color:#ed145b;
    height:25px;
    width:25px;
    font-size:18px;
    line-height:25px;
    display:block;
    border-radius:3px;
    text-align:center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.social-icons ul li i:hover {
    color:#fff;
}

.social-icons ul li i:hover.fa-facebook {
    background-color:#566C9E;
}

.social-icons ul li i:hover.fa-twitter {
    background-color:#0EB1F2;
}

.social-icons ul li i:hover.fa-google-plus {
    background-color:#D54831;
}

.social-icons ul li i:hover.fa-linkedin {
    background-color:#1F84D2;
}

.social-icons ul li i:hover.fa-pinterest {
    background-color:#CD565C;
}


.bubbles .bubble{
    height:200px;
    width:200px;
    border-radius:100%;
    background-color:rgba(77, 15, 140, 0.11);
    position:absolute;
}

.bubbles .bubble.bubble-one {
    left:-50px;
    bottom:-100px;
}

.bubbles .bubble.bubble-two {
    left:5%;
    bottom:-150px;
}

.bubbles .bubble.bubble-three {
    left:15%;
    bottom:-170px;
}
.bubbles .bubble.bubble-four {
    left:25%;
    bottom:-120px;
}
.bubbles .bubble.bubble-five {
    left:30%;
    bottom:-140px;
}
.bubbles .bubble.bubble-six {
    left:40%;
    bottom:-170px;
}
.bubbles .bubble.bubble-seven {
    left:48%;
    bottom:-150px;
}
.bubbles .bubble.bubble-eight {
    left:55%;
    bottom:-100px;
}
.bubbles .bubble.bubble-nine {
    left:60%;
    bottom:-130px;
}

.bubbles .bubble.bubble-ten {
    left:70%;
    bottom:-100px;
}

.bubbles .bubble.bubble-eleven {
    left:75%;
    bottom:-120px;
}

.bubbles .bubble.bubble-twelve {
    left:80%;
    bottom:-150px;
}

.bubbles .bubble.bubble-thirteen {
    left:85%;
    bottom:-170px;
}

.bubbles .bubble.bubble-fourteen {
    left:90%;
    bottom:-130px;
}

.bubbles .bubble.bubble-fifteen {
    left:95%;
    bottom:-100px;
}

.bubbles .bubble.bubble-fifteen {
    left:100%;
    bottom:-100px;
}

.main-slider .btn-primary{
    margin-bottom:25px;
}

.main-slider .apps-icons li a{
    color: #fff;
    font-size: 26px;
    margin-right: 10px;
}

.main-slider .apps-icons li a i{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.main-slider .apps-icons li a:hover {
    opacity: .8;
}

#bg-video-section  #slider-section .overlay-bg {
    background-color:rgba(0, 174, 239, 0.8);
    z-index:2;
}

#slider-bg-wrapper #slider-section .overlay-bg{
    background-color:rgba(0, 174, 239, 0.40);
    z-index:2;
}

#slider-bg-wrapper .vegas-timer {
    display:none;
}

#bg-video-section #slider-section {
    overflow:hidden;
}

#video{
    position: relative;
    background: transparent;
}

.ytplayer-container{
    position: absolute;
    top: 0;
    z-index: -1;
}

/*=========Features-section==========*/

.features-slider .item img {
    display: inline-block;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    opacity: 0.3;
    margin-bottom: 12px;
}

.features-slider .owl-item.active  img {
   filter: grayscale(0);
   -webkit-filter: grayscale(0);
   opacity:1;
}

.owl-item > div,
.owl-item .item h2,
.owl-prev, .owl-next{
    color:#ebebeb;
}
.owl-item.active > div{
    color: #000
}

.owl-item .item {
    padding:0 20px;
}

.owl-item .item h2 {
    font-weight:700;
    margin-bottom:15px;
}

.owl-item.active .item h2 {
    color:#000;
}

.owl-prev, .owl-next {
    position:absolute;
    top:50%;
    margin-top:-50px;
    font-size:72px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.owl-prev {
    left:-60px;
}

.owl-next {
    right:-60px;
}

.features-slider .owl-prev:hover,
.features-slider .owl-next:hover {
    color:#bdbdbd;
}

/*================Description==============*/

.description-section img {
    display:inline-block;
}

.description {
    position: relative;
    padding-left:50px;
    font-size:15px;
    padding-top:20px;
    padding-right:20px;
    padding-bottom:10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.description i {
    position:absolute;
    left:0;
    font-size:24px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.description:hover{
    background-color:rgba(37, 124, 193, 0.30);
    padding-left:65px;
}

.description:hover i{
    left:20px;
}


/*================Promotion==============*/

.promo-content {
    margin-top:125px;
    padding:0 25px;
    color:#000;
    font-size:16px;
}

.promo-content h1{
    font-weight:700;
    margin-bottom:35px;
}

#promotion-two {
    background-color:#37393d;
    background-size:cover;
    background-repeat:no-repeat;
    color:#fff;
    position:relative;
}

#promotion-two .overlay-bg {
    background-color:rgba(24, 27, 38, 0.75);
}

#promotion-two img{
    display:inline-block;
}

#promotion-two  .container{
    position:relative;
}

#promotion-two h1 {
    text-transform:initial;
    margin-bottom:25px;
}

#promotion-two .section-title {
    max-width:735px;
    display:inline-block;
}

#promotion-two .section-title img {
    margin-bottom:20px;
}



/*================Screenshots==============*/

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.owl-theme .owl-controls {
    margin-top: 50px;
    text-align: center;
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
}

.owl-controls .owl-page, .owl-controls .owl-buttons div {
    cursor: pointer;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #5c2969;
    opacity: .7;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    opacity: 1;
}

/*================video-section==============*/

.video img{
    position:relative;
}

.video .video-link{
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
}

.video .video-link i{
    position: absolute;
    color: #fff;
    font-size: 100px;
    left: 50%;
    top: 50%;
    z-index: 1;
    text-align: center;
    margin-top: -50px;
    margin-left: -50px;
    line-height: 100px;
}

.video .video-link:hover {
    opacity:0.7;
}



/*--------------------------------------------------------------
# Page
--------------------------------------------------------------*/

/* 404
------------------------------------------- */
.error-404 i{
    font-size: 70px;
    color: #696969;
}

.error-404 h1{
    font-size: 100px;
    font-weight: 700;
    color: #696969;
    margin-top: 0;
    margin-bottom: 20px;
}

.error-404 p.lead{
    margin-bottom: 40px;
}

.error404 .main-content {
    padding: 150px 0;
}

/*================Pricing-section==============*/

.pricing .plan{
    background-color:#f7f7f7;
    color:#616060;
    padding:30px 25px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-bottom:15px;
}

.pricing .plan:hover {
    background-color:#00bff3;
    color:#fff;
}

.pricing .plan:hover h1,
.pricing .plan:hover h2 {
    color:#fff;
}

.pricing .plan h1,
.pricing .plan h2{
    font-weight:700;
    color:#000;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.pricing .plan h1 {
    margin-top:10px;
    margin-bottom:30px;
}

.pricing .plan h2 {
    font-size:20px;
}

.pricing .plan .btn-primary {
    background-color:#009ac3;
    font-size:16px;
    padding:8px 20px;
    margin-top:20px;
}

.st-pricing-table ul{
    text-align: left;
}

.st-pricing-table ul li {
    border-bottom: 1px solid #ddd;
    padding: 6px 0;
}

.st-pricing-table ul li:last-child {
    border-bottom: 0px solid #ddd;
}

.st-pricing-table ul li:before {
    content: '\f00c';
    font-family: fontawesome;
    margin-right: 10px;
}


/*================Review Section==============*/

#review-slider .owl-item .item{
    color:#000;
}

#review-slider .review-person {
    float:left;
    margin-right:25px;
}

#review-slider .review h3,
.review .review-stars{
    display:inline-block;
}

#review-slider .review h3{
    font-weight:800;
}

.review .review-stars{
    color:#5db442;
    margin-left:10px;
    font-size:14px;
}

#review-slider .owl-prev:hover,
#review-slider .owl-next:hover,
#screenshot-slider .owl-prev:hover,
#screenshot-slider .owl-next:hover {
    color: #bdbdbd;
}

/*================Download app==============*/

.apps .apps-icons li {
    margin:0 18px;
}

.apps .apps-icons li a{
    font-size:36px;
    color:#fff;
}

.apps .apps-icons li a:hover{
    opacity:0.6;
}

/*================Contact us==============*/

#contact-form textarea {
    height:220px;
    resize:none;
    padding:18px;
}

#contact-form .btn-primary {
    padding:12px 55px;
    display:inline-block;
    margin-top:35px;
    background-color:#3a3a63;
}

#footer-bottom {
    background-color:#3a3a63;
    color:#fff;
    padding:40px 0 30px;
    font-weight:300;
}

#footer-bottom a {
    color:#fff;
}

/* === Scroll to top === */

.scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 1.8em;
    right: 1.8em;
}

.scroll-up a {
    background-color: #000;
    display: block;
    width: 38px;
    height: 38px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 36px;
    opacity: 0.7;
}

.scroll-up a:hover,
.scroll-up a:active {
    color: #fff;
    opacity: 1;
}


/*================Index Blue==============*/

#apps-imagebg  .navbar-fixed-top,
#static-imagebg .navbar-fixed-top {
    background-color: rgba(0, 0, 0, 0.90);
}

#apps-imagebg #description,
#apps-imagebg #screenshots,
#apps-imagebg #pricing-section {
    background-size:cover;
    position:relative;
}

#apps-imagebg #description .overlay-bg {
    background-color:rgba(57, 181,74, 0.75);
}

#apps-imagebg #screenshots .overlay-bg {
    background-color:rgba(137, 61,156, 0.85);
}

#apps-imagebg #pricing-section .overlay-bg {
    background-color:rgba(0, 114,188, 0.85);
}

.carousel-left i,
.carousel-right i{
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    line-height: 50px;
    font-size: 32px;
    text-align: center;
    background-color: rgba(0,0,0,0.10);
    color:#fff;
    z-index: 999;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    -ms-transition: 300ms;
    transition: 300ms;
}

.carousel-left i {
    left:-200px;
    border-radius:0 10px 10px 0;
}

.carousel-right i {
    right:-200px;
    border-radius:10px 0 0 10px;
}

.carousel-left i:hover, .carousel-right i:hover {
    background-color: rgba(0,0,0,0.20);
}

#content-slide-wrapper:hover .carousel-left i {
    left:0;
}

#content-slide-wrapper:hover .carousel-right i {
    right:0;
}


@-webkit-keyframes slideFadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(5px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes slideFadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(5px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes slideFadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(5px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes slideFadeInUp {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


#content-slide-wrapper .main-slider .slider-text{
    -webkit-animation: slideFadeInUp 300ms linear 700ms both;
    -moz-animation: slideFadeInUp 300ms linear 700ms both;
    -o-animation: slideFadeInUp 300ms linear 700ms both;
    -ms-animation: slideFadeInUp 300ms linear 700ms both;
    animation: slideFadeInUp 300ms linear 700ms both;
}


#content-slide-wrapper .main-slider .mobile-mockup{
    -webkit-animation: slideFadeInUp 300ms linear 900ms both;
    -moz-animation: slideFadeInUp 300ms linear 900ms both;
    -o-animation: slideFadeInUp 300ms linear 900ms both;
    -ms-animation: slideFadeInUp 300ms linear 900ms both;
    animation: slideFadeInUp 300ms linear 900ms both;
}



/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.breadcrumbs-section{
    background: #3a3a63;
    padding: 34px 0;
}

.breadcrumbs-section .page-title{
    margin: 0;
    font-size: 24px;
    color: #fff;
}

.entry-blog{
    margin-bottom: 70px;
    position: relative;
}

.entry-single-blog .entry-thumbnail{
    margin-bottom: 14px;
}

.post-content .entry-title{
    margin-bottom: 12px;
    margin-top: 20px;
}

.post-content .entry-meta{
    margin-bottom: 14px;
    color: #a7a7a7;
}

.post-content .entry-meta a{
    color: #a7a7a7;
}

.post-content .entry-meta a:hover{
    color: #3a88c7;
}

.post-content .entry-meta i.fa{
    margin-right: 4px;
}

.sticky sup.featured-post{
    position: absolute;
    top: 0;
    right: 0;
    background: #3a88c7;
    color: #fff;
    padding: 10px 14px;
    font-size: 18px;
}

a.more-link{
    background: #3a88c7;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 20px;
    display: block;
    width: 130px;
    text-align: center;
}

a.more-link:hover{
    opacity: .8;
    color: #ffffff;
}

.page-links span {
    padding: 5px 10px;
    background: #929292;
    color: #fff;
}

.page-links a span {
    background: #636363;
}

.related-post-section{
    margin-top: 60px;
}

.related-post-section .entry-header{
    margin-bottom: 12px;
}

.related-post-section .entry-title{
    margin: 0;
    font-size: 18px;
}


/* BLOG PAGINATION
------------------------------------------- */
.pagination {
    font-size: 14px;
    color: #fff;
}

.pagination li:first-child a,
.pagination li:last-child a {
    padding: 12px 30px;
}

.pagination li a {
    color: #fff;
    background-color: #27292a;
    border: 1px solid #0e0f0f;
    padding: 12px 15px;
}

.pagination li span.current {
    background-color: #3a88c7;
    border: 1px solid #3a88c7;
}

.pagination li span {
    color: #fff;
    background-color: #27292a;
    border: 1px solid #0e0f0f;
    padding: 12px 15px;
}

.pagination li a:hover,
.pagination .active > a,
.pagination li a:focus,
.pagination .active > a:hover,
.pagination li span:hover {
    background-color: #3a88c7;
    color: #fff;
    border-color: #3a88c7;
}


/* POST FORMAT CHAT
------------------------------------------- */
.format-chat .entry-content p:nth-child(odd),
.format-chat .entry-content p:nth-child(even) {
    padding: 10px 16px;
    margin-top: 30px;
    position: relative;
}
.format-chat .entry-content p:nth-child(odd) {
    margin-right: 30px;
    background: #F5F5F5;
    border-radius: 2px 2px 2px 2px;
}
.format-chat .entry-content p:nth-child(even) {
    margin-left: 30px;
    background: #D5F1F9;
    border-radius: 2px 2px 2px 2px;
}
.format-chat .entry-content p:nth-child(odd)::before,
.format-chat .entry-content p:nth-child(even)::before {
    content: "";
    position: absolute;
    bottom: -15px;
    width: 0;
    height: 0;
    border-top: 0;
    border-bottom: 15px solid transparent;
}
.format-chat .entry-content p:nth-child(odd)::before {
    right: 15px;
    border-right: 15px solid #f5f5f5;
}
.format-chat .entry-content p:nth-child(even)::before {
    left: 15px;
    border-left: 15px solid #d5f1f9;
}



/*--------------------------------------------------------------
# Comment
--------------------------------------------------------------*/
.comments-wrapper {
    margin-top: 65px;
    font-size: 14px;
}

.comments-wrapper .media-body h3.date{
    font-size: 12px;
    color: #888;
}

.comments-wrapper .media{
    margin-top: 0;
}

h3.comment-reply-title{
    margin-bottom: 6px;
}

.comments-wrapper .media-list li ul.children li {
    margin-top: 10px;
    margin-left: 30px;
}

.comments-wrapper .media .comment-body {
    padding: 0 0 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #f6f6f6;
}

.comments-wrapper .media .media-left {
    padding-right: 15px;
}

.comments-wrapper .media-body h2,
.comments-wrapper .media-body h3 {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: 0;
}

.comments-wrapper .media-body h2 {
    font-size: 18px;
}

.comments-wrapper .media-body h3 {
    font-size: 14px;

}

.comments-wrapper .media-body h2.comment-author,
.comments-wrapper .media-body h2 a {
    color: #000;
}

.comments-wrapper .media-body .replay:hover {
    color: #888;
}

.comments-wrapper .media.media-child {
    margin-top: 10px;
    margin-left: 150px;
}

#commentform {
    padding: 30px 0;
    margin-bottom: 50px;
    margin-right: -15px;
    margin-left: -15px;
}

#commentform p.logged-in-as {
    padding-left: 15px;
    padding-right: 15px;
}

.bypostauthor {
}

.comments-wrapper .media-list #commentform {
    margin-bottom: 0;
}

.comments-wrapper .media-list .comments-box {
    margin-top: 40px;
}

a#cancel-comment-reply-link {
    color: #3a88c7;
    font-size: 12px;
}

#commentform input.submit {
    display: inline-block;
    margin: 0 15px;
    background-color: #3a88c7;
    color: #ffffff;
    border: 0px none;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 30px;
    outline: medium none;
    text-transform: uppercase;
}

#commentform input.submit:hover {
    opacity: .8;
}


/*--------------------------------------------------------------
# Default css
--------------------------------------------------------------*/
.entry-content address, .comment-content address {
    background: none repeat scroll 0 0 #f1f1f1;
    border-left: 5px solid #ddd;
    padding: 10px 10px 10px 20px;
}

.entry-content table, .comment-content table {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
}

.entry-content table tr, .comment-content table tr {
    border-bottom: 1px solid #ddd;
}

.entry-content table tr th, .comment-content table tr th {
    background: none repeat scroll 0 0 #eee;
}

.entry-content table tbody tr th {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.entry-content table tr th, .comment-content table tr td {
    border-left: 1px solid #ddd;
    padding: 10px;
}

.entry-content table td,
.comment-content table td {
    padding: 8px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    vertical-align: top;
    text-align: left;
    line-height: 18px;
}

.entry-content p {
    margin: 0 0 20px;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
    margin-bottom: 15px;
    line-height: 30px;
    margin-top: 0;
}

.entry-content ol,
.entry-content ul,
.comment-content ol,
.comment-content ul {
    margin-bottom: 20px;
    padding-left: 35px;
}

.entry-content ul,
.comment-content ul {
    list-style-type: disc;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    background: none repeat scroll 0 0 #f5f5f5;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 4px 10px;
    color: #777777;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

/* Theme style */
.gallery-item {
    position: relative;
    overflow: hidden;
}

.gallery-item .gallery-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 12px;
    padding: 8px 15px;
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    letter-spacing: .5px;
    transition: all .3s linear;
    opacity: 0;
}

.gallery-item:hover .gallery-caption {
    bottom: 0;
    opacity: 1;
}

/*--------------------------------------------------------------
## Widget
--------------------------------------------------------------*/
aside.widget{
    margin-bottom: 50px;
}

.widget select {
    width: 100%;
}

h1.widget-title,
.st-section-title,
.comment-reply-title{
    font-size: 24px;
    margin-bottom: 35px;
    margin-top: 0;
    position: relative;
}

h1.widget-title:before,
.st-section-title:before,
.comment-reply-title:before {
    width: 50px;
    background-color: #3a88c7;
    z-index: 1;
}

h1.widget-title:after,
.st-section-title:after,
.comment-reply-title:after {
    right: 0;
    background-color: #e6e6e8;
}

h1.widget-title:after,
h1.widget-title:before,
.st-section-title:after,
.st-section-title:before,
.comment-reply-title:after,
.comment-reply-title:before{
    position: absolute;
    content: "";
    bottom: -12px;
    left: 0;
    height: 2px;
}

.widget ul li {
    border-bottom: 1px solid #e2e2e2;
    padding: 6px 0;
}

.widget ul li ul{
    border-top: 1px solid #e2e2e2;
    margin-top: 6px;
    padding-left: 10px;
}

.widget img {
    max-width: 100%;
    height: auto;
}

.bottom-widgets .widget ul li {
    border-bottom: 0;
    padding: 0;
}

.bottom-widgets .widget.widget_categories ul li {
    float: left;
    width: 50%;
}

.bottom-widgets .widget.widget_categories ul li a {
    display: inline-block;
}

.widget ul li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.widget .tab-content ul li {
    padding: 0;
}

.widget .post-list li {
    border-bottom: 0px;
}

.widget a:hover {
    color: #3a88c7;
}

/* Search */
#search-form input[type="text"] {
    padding: 10px 12px;
    width: 100%;
    border: 1px solid #f6f6f6;
    font-size: 14px;
    outline: none;
    color: #777777;
}

/* Gallery Slider */
#blog-gallery-slider.carousel{
    overflow: hidden;
}

#blog-gallery-slider .carousel-control.left,
#blog-gallery-slider .carousel-control.right{
    top: 50%;
    left: -40px;
    margin-top: -22px;
    text-shadow: none;
    transition: all .3s linear;
    background: #3a88c7;
    display: block;
    width: 40px;
    height: 44px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 44px;
    opacity: 0.7;
}

#blog-gallery-slider .carousel-control.left:hover,
#blog-gallery-slider .carousel-control.right:hover{
    opacity: 1;
}

#blog-gallery-slider .carousel-control.right{
    left: auto;
    right: -40px;
}

#blog-gallery-slider.carousel:hover .carousel-control.left{
    left: 0;
}

#blog-gallery-slider.carousel:hover .carousel-control.right{
    right: 0;
}


#blog-gallery-slider .carousel-control .glyphicon-chevron-left,
#blog-gallery-slider .carousel-control .glyphicon-chevron-right{
    line-height: 80px;
    top: 0;
    left: 10px;
}

/* Tags */

.tagcloud a,
.single-post-tags .tags-links a{
    color: #000;
    display: inline-block;
    font-size: 11px !important;
    text-transform: uppercase;
    padding: 6px 10px;
    margin-right: 4px;
    margin-bottom: 6px;
    border-radius: 1px;
    background-color: #F6F6F6;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.widget .tagcloud a:hover,
.single-post-tags .tags-links a:hover{
    color: #ffffff;
    background-color: #3a88c7;
}

/* Calender */
#wp-calendar {
    width: 100%;
}

#wp-calendar caption {
    text-align: right;
    color: #777;
    font-size: 12px;
    margin-bottom: 15px;
    padding-top: 0;
}

#wp-calendar thead {
    font-size: 12px;
}

#wp-calendar thead th {
    padding-bottom: 10px;
}

#wp-calendar tbody {
    color: #aaa;
}

#wp-calendar tbody td {
    background: #ffffff;
    border: 1px solid #f2f3f5;
    text-align: center;
    padding: 8px;
}

#wp-calendar tbody td a {
    color: #3a88c7;
}

#wp-calendar tbody td:hover a {
    color: #ffffff;
}

#wp-calendar tbody td:hover {
    background: #3a88c7;
    color: #ffffff;
}

#wp-calendar tbody .pad {
    background: none;
}

#wp-calendar tfoot #next {
    font-size: 10px;
    text-transform: uppercase;
    text-align: right;
}

#wp-calendar tfoot #prev {
    font-size: 10px;
    text-transform: uppercase;
    padding-top: 10px;
}

#wp-calendar tfoot a {
    color: #3a88c7;
}

#wp-calendar thead th {
    padding-bottom: 10px;
    text-align: center;
}
