/* lg */ 
@media (min-width: 1400px) {
	
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	#slider-section, #home-section{	
		height:800px;
	}
	.owl-prev {
		left: -25px;
	}
	.owl-next {
		right: -25px;
	}
	.promo-content {
		margin-top:25px;;
	}
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-nav li a {
		line-height: 40px;
		padding: 10px 7px;
		font-size: 13px;
	}
	#slider-section, #home-section {
		height:825px;
	}	
	.bubbles .bubble {
		height: 160px;
		width: 160px;
	}
	.owl-prev {
		left: -20px;
	}
	.owl-next {
		right: -20px;
	}
	#video-section .content h3{
		margin-top:0;
	}
	#review-slider .review{
		float:left;
		width:50%;
	}
	#review-slider .review h3{
		margin-top:0;
	}
	.review .review-stars {
		margin-left: 0;
		margin-bottom: 8px;
	}
	.owl-item .item {
		padding: 0px 10px;
	}
	.promo-content {
		margin-top:0;
	}
}


/* xs */
@media (max-width: 767px) {
	h1 {
		font-size:28px;
	}
	h2{
		font-size:20px;
	}
	h3{
		font-size:16px;
	}
	.padding {
		padding: 40px 0px;
	}
	.section-title {
		margin-bottom:30px;
		font-size:14px;
	}
	.section-title h1{
		font-size:25px;
	}
	.navbar-brand > img {
		width: 80%;
		margin-top: 5px;
	}
	.navbar-nav li a {
		line-height:22px;
	}
	#slider-section, #home-section {
		height:650px;
	}
	.main-slider .slider-content {
		font-size:20px;
	}
	.main-slider .slider-content h1 {
		font-size: 50px;
		line-height: 50px;
	}
	#main-slider-wrapper .slider-content .mobile-mockup img, .bubbles {
		display:none !important;
	}
	.main-slider .slider-content .slider-text {
		margin-bottom: 60px;
	}
	.btn-primary {
		font-size:14px;
		padding:10px 22px;
	}
	.main-slider .apps-icons li a{
		font-size:20px;
	}
	.features-slider .item img{
		filter: grayscale(0);
		-webkit-filter: grayscale(0);
		opacity:1;
	}
	.owl-item .item, .owl-item .item h2 {
		color:#000;
	}
	.owl-item .item{
		padding:0 10px;
	}
	.owl-theme .owl-controls{
		margin-top:0;
		display:none;
	}
	.owl-prev, .owl-next, 
	.owl-theme .owl-controls .owl-page{
		display:none;
	}
	#choose-color{
		background-image:inherit;
		font-size:14px;
	}
	.color-tab .tab-list li a{
		font-size:15px;
	}
	.color-tab .color-images li {
		margin-right:0;
	}
	#screenshot-slider .item {
		text-align:center;
	}
	#screenshot-slider .item img {
		display:inline-block;
	}
	.video {
		margin-bottom: 20px;
	}
	.plans .plan {
		margin-bottom:15px;
	}
	.plans .col-sm-3 {
		float:left;
		width:50%;
	}
	#review-slider .review{
		float:none;
		width:100%;
	}
	#review-slider .review-person {
		margin-bottom:15px;
	}
	#review-slider .review h3 {
		margin-top: 0;
	}
	.review .review-stars {
		margin-left: 0;
		margin-bottom: 8px;
	}
	#download-app .section-title {
		margin-bottom: 30px;
	}
	.apps .apps-icons li a {
		font-size:30px;
	}
	#contact-us .contact-form {
		padding-top: 40px;
		padding-bottom: 30px;
	}
	#contact-form .btn-primary {
		margin-top:22px;
	}
	#footer-bottom {
		padding: 30px 0px 20px;
	}
	.main-slider.full-height .slider-content {
		margin-top: 120px;
	}
	.promo-content {
		margin-top: 55px;
	}

}

/* XS Portrait */
@media (max-width: 479px) {
	.logo img{
		max-width:75px;
	}
	.plans .col-sm-3 {
		float:none;
		width:100%;
	}
	#review-slider .review{
		float:left;
		width:50%;
	}
	#review-slider .review-person {
		margin-bottom:15px;
	}
	.video {
		margin-bottom: 20px;
	}
	.admin-bar .navbar-fixed-top {
		top: 0;
	}
	.scroll-up{
		display: none !important;
	}
}

