@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700,800,900');

*{
	box-sizing: border-box;	
	-moz-box-sizing: border-box;	
	-webkit-box-sizing: border-box;	
}

body{
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}

.header{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 20px;
}

.header .logo{
	display: inline-block;
	width: 100px;
}

.header .logo img{
	max-width: 100%;	
}

.header > a, 
.header .mainNav{
	float: right;
}

.container{
	max-width: 1170px;
	margin: auto;
}

.topBanner{
	background: url(../images/topBanner.jpg) no-repeat left top;
	background-size: cover;
	padding: 150px 0px 100px;
	text-align: center;
}

.barberSearch{
    position: relative;
    max-width: 900px;
    margin: 0 auto 50px;
}

.barberSearch input{
	display: inline-block;
	vertical-align: middle;
	outline: none;
}

.barberSearch input[type="search"]{
	width: 100%;
	padding: 15px 100px 15px 20px;
	border-radius: 60px;
	border: 1px solid #CCC;
	background: #FFF;
}

.barberSearch input[type="submit"]{
	position: absolute;
    right: 0;
    top: 0;
    padding: 16px 60px;
    border: 0;
    background: #6b74e6;
    border-radius: 60px;
    color: #FFF;
	cursor: pointer;
}

.topBanner h1{
	font-size: 50px;
	color: #FFF;
	margin: 0 0 10px;
}

.topBanner p{
	color: #FFF;
	font-size: 18px;
}

.barberListing{
	padding: 50px 0;	
}

.barberListing ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	letter-spacing: -3px;
}
.barberListing ul li{
	display: inline-block;
	width: 33.3%;
	vertical-align: middle;
	padding: 0 10px;
	letter-spacing: 0px;
	margin-bottom: 20px;
}

.barberListing .listItem{
	text-align: center;
	position: relative;
	overflow: hidden;
}

.barberListing .listItem:after{
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
}

.barberListing .listItem a{
	display: block;
	padding: 50px;
	z-index: 10;
	color: #FFF;
	position: relative;
	text-decoration: none;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.barberListing .listItem a:hover{
	-ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);	
}

.listItem figure{
	margin: 0px;
	padding: 0px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	margin: auto;
	position: relative;
}

.listItem figure img{
	max-width: 100%;	
}

.detailBanner figure{
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
}

.detailBanner figure img{
	max-width: 100%;
}

.detailBanner .barberDetail h4{
	color: #FFF;
	font-size: 22px;
	margin: 30px 0 0;
	font-weight: 500;
}

.detailBanner .barberDetail span{
	color: #FFF;	
}

.detailBanner .time{
	color: #FFF;	
}

.listDetail{
	padding: 50px 0px;	
}

.listDetail ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: center;
}

.listDetail ul li{
	display: inline-block;
}

.listDetail ul li a{
	display: block;
	padding: 10px 40px;
	text-decoration: none;
	border: 1px solid #CCC;
	color: #000;
	text-transform: uppercase;
}

.listDetail ul li a:hover, 
.listDetail ul li a{
	background: rgb(102, 1, 1);
	color: #FFF;
}

.listDetail ul li a.inactive{
	background: transparent;
	color: #000;
}

.tabItem {
	padding: 60px 0px;	
}

.tabItem h2{
	color: rgb(102, 1, 1);;
	font-size: 25px;
	margin: 0 0 30px;
	font-weight: 500;
}

.bookWidget ul{
	text-align: left;
}

.bookWidget ul li{
	border-bottom: 1px solid #CCC;	
}

.bookWidget ul li h4{
	font-size: 18px;	
}

.bookWidget ul li h4 span{
	color: rgb(102, 1, 1);
	float: right;
}

.bookWidget .bookNow{
	padding: 10px 10px;
	width: 250px;
	margin: auto;
	background: rgb(102, 1, 1);
	color: #FFF;
	text-decoration: none;
	display: block;
	text-align: center;
	margin-top: 30px;
}

.gallery > div{
	display: inline-block;
	width: 32.9%;
	vertical-align: top;
	height: 230px;
	padding: 10px;
	margin-bottom: 15px;
	overflow: hidden;
}

.gallery > div img{
	max-width: 100%;	
}

.reviews ul{
	text-align: left;
	letter-spacing: -3px;
}

.reviews ul li{
	width: 48%;
	display: inline-block;
	letter-spacing: 0px;
	padding: 30px;
	border: 1px solid #CCC;
	margin: 10px;
}

.reviews ul li figure{
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

.reviews ul li figure img{
	max-width: 100%;	
}

.reviews ul li figcaption{
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 104px);
	padding-left: 30px;
}

.reviews ul li figcaption span{
	font-size: 16px;	
}

.reviews ul li figcaption p{
	font-size: 13px;	
}

.info{
	overflow: hidden;
}

.info .infoLeft{
	float: left;
	width: 300px;
}

.info .infoLeft span{
	display: block;
	margin-bottom: 30px;
	font-size: 22px;
	border: 1px solid #CCC;
	padding: 10px;
}

.info .infoLeft b{
	display: block;
	color: rgb(102, 1, 1);
	margin-bottom: 10px;
}

.info .infoLeft ul{
	text-align: left;
}

.info .infoLeft ul li{
	display: block;
}

.info .rightMap{
	float: left;
	width: calc(100% - 300px);
	padding-left: 60px;
}

.info .rightMap iframe{
	width: 100%;	
}

.info .rightMap #professionalMap{
    width: 600px !important;
    height: 450px !important;
}

.pagination{
	text-align: center;
}

.pagination ul{
	margin: 80px 0 0;
	padding: 0px;
	list-style: none;
}

.pagination ul li{
	display: inline-block;
	width: auto;
	padding: 0px 5px;
}

.pagination ul li a{
	padding: 10px 20px;
	text-align: center;
	border: 1px solid #CCC;
	color: #000;
	text-decoration: none;
	display: block;
}


.pagination ul li a:hover, 
.pagination ul li.active a{
	background: rgb(102, 1, 1);
	color: #FFF;
	border: 1px solid rgb(102, 1, 1);
}